<div class="bg-usco-gray" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-usco"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    </div>
                                    <form [formGroup]="loginForm" class="user" (submit)="login()">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                formControlName="email" placeholder="Correo electrónico">
                                            <div class="text-danger">
                                                <small *ngIf="campoNoValido('email')">*El correo es obligatorio</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                formControlName="password" placeholder="Contraseña">
                                            <div class="text-danger">
                                                <small *ngIf="campoNoValido('password')">*La contraseña es
                                                    obligatoria</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Recordar
                                                    datos</label>
                                            </div>
                                        </div>
                                        <button type="submit"
                                            class="btn bg-usco-blue1 btn-user btn-block text-white fw-semibold fs-6">
                                            Ingresar
                                        </button>
                                    </form>
                                    <a routerLink="../home" class="text-decoration-none">
                                        <button
                                            class="btn bg-usco-red  btn-block text-white fw-semibold fs-6 mt-3 rounded-5 p-2">
                                            Volver
                                        </button>
                                    </a>
                                    <hr>
                                    <!-- <div class="text-center">
                                        <a class="small" href="#">Crear cuenta!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>