.pt-3-half {
  padding-top: 0.5rem;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #e3e6f0;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #e3e6f0;
}

/* input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
} */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

