<div class="bg-usco-gray" style="height: auto;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-usco"></div>
                            <!-- form -->
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Crea tu cuenta!</h1>
                                    </div>
                                    <form class="user" role="form" [formGroup]="registerForm" (submit)="registerUser()">
                                        <div class="form-group">
                                            <div class="mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Nombre Completo" formControlName="name">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('name')">*El Nombre es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                placeholder="Correo electronico" formControlName="email">
                                            <div class="text-danger">
                                                <small *ngIf="campoNoValido('email')">*El Correo es obligatorio</small>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="mb-3 mb-sm-0">
                                                <select id="documentType" name="documentType"
                                                    formControlName="documentType" class="test">
                                                    <option value="" disabled selected>Seleccione tipo de documento
                                                    </option>
                                                    <option value="cedula">Cédula de ciudadanía</option>
                                                    <option value="tarjetaIdentidad">Tarjeta de Identidad</option>
                                                    <option value="cedulaExtranjeria">Cédula de Extranjería</option>
                                                    <option value="pasaporte">Pasaporte</option>
                                                </select>
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('documentType')">*El tipo de documento es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                    id="exampleRepeatPassword" placeholder="Documento"
                                                    formControlName="document">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('document')">*El Documento es
                                                        obligatorio
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Telefono" formControlName="phoneNumber">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('phoneNumber')">*El Telefono es
                                                        obligatorio
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <select id="gender" name="gender"
                                                    formControlName="gender" class="test">
                                                    <option value="" disabled selected>Seleccione género
                                                    </option>
                                                    <option value="masculino">Masculino</option>
                                                    <option value="femenino">Femenino</option>
                                                </select>
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('documentType')">*El género es
                                                        obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                    id="residence" placeholder="Muincipio de Residencia"
                                                    formControlName="residence">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('residence')">*La fecha de nacimiento es
                                                        obligatorio
                                                    </small>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                    id="birthdate" placeholder="Fecha de Nacimiento"
                                                    formControlName="birthdate">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('birthdate')">*La fecha de nacimiento es
                                                        obligatorio
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Lugar de nacimiento" formControlName="placeBirth">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('placeBirth')">*El lugar de nacimiento es
                                                        obligatorio
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Institución Educativa" formControlName="institution">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('institution')">*La institución es
                                                        obligatoria</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user"
                                                    placeholder="Contraseña" formControlName="password">
                                                <div class="text-danger">
                                                    <small *ngIf="campoNoValido('password')">*La contraseña es
                                                        obligatoria</small>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block">
                                            Registrar Cuenta
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" routerLink="../login">¿Ya tienes una cuenta? Ingresa!</a>
                                        <!-- <a class="small" href="#">Crear cuenta!</a> -->
                                    </div>
                                    <a routerLink="../home" class="text-decoration-none">
                                        <button
                                            class="btn bg-usco-red  btn-block text-white fw-semibold fs-6 mt-3 rounded-5 p-2">
                                            Volver
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>