<div class="container-fluid bg-redwine">
    <header class="d-flex  align-items-center justify-content-center justify-content-md-between mb-4">
        <a href="https://www.usco.edu.co/" target="_blank"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="assets/images/usco.png" alt="logo-usco" class="img-fluid">
        </a>

        <div class="col-md-3 text-end m-1">
            <a href="home" type="button" class="btn btn-outline-light me-2">Inicio</a>
        </div>
    </header>
</div>