<div class="container bg-usco-ocre rounded p-4 mb-4">
  <div class="card">
    <div>
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Listado de estudiantes
      </h3>
      <p class="px-4 py-2">Listado de estudiantes que han presentado la prueba de orientación profesional.</p>
    </div>
    <div class="card-body">
      <div id="table" class="table-editable">

        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">No. Documento</th>
              <th class="text-center">Celular</th>
              <th class="text-center">e-mail</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: p }">
              <td class="pt-3-half text-start">{{student.userName}}</td>
              <td class="pt-3-half">{{student.userDocument}}</td>
              <td class="pt-3-half">{{student.cellphone}}</td>
              <td class="pt-3-half">{{student.userEmail}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4">
    <a routerLink="../admin-edit" class="btn btn-primary text-decoration-none">Inicio</a>
  </div>
</div>