<div class="container my-3">
    <h1 class="h3 mb-2 text-gray-800">Recomendación</h1>
    <p class="mb-4">Según tus resultados te recomendamos la profesión de --carrera--</p>
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Afinidad</h6>
                </div>
                <div class="card-body">
                    <canvas id="afinityChart" width="600" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
