<!-- Begin Page Content -->
<div class="container my-3">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Recomendación</h1>
    <p class="mb-4">Según tus resultados te recomendamos la profesión de --carrera--</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">


            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Gráfico de Barras</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <span class="pr-5">Medicina</span>
                    <span class="pr-5">Enfermería</span>
                    <span class="pr-5">Contaduría</span>
                    <span class="pr-5">Economía</span>
                    <span class="pr-5">Psicología</span>
                </div>
            </div>
        </div>
    </div>
</div>