<div class="container">
    <div class="d-flex justify-content-center pt-5 py-2">
        <h3 class="fw-semibold border-bottom">PRUEBA DE ORIENTACIÓN PROFESIONAL</h3>
    </div>
    <div class="d-flex justify-content-center">
        <p class=""></p>
    </div>
    <div class="container-fluid d-flex gap-3 justify-content-center mt-3 p-2 flex-wrap">
        <form role="form" [formGroup]="surveyForm">
            <!-- <div *ngFor="let question of questions | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalQuestions }; let i = index" -->
            <div *ngFor="let question of questions; let i = index"
                class="border rounded-3 border-secondary p-2 px-3 mb-3 question">
                <div class="">
                    <p class="text-muted fw-semibold">{{ i + 1 }} . {{ question.description }}</p>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="form-check mr-4">
                        <input class="form-check-input" type="radio" formControlName="question{{ i + 1 }}"
                            [value]="{ question: question.description, option: '0', program: question.program }"
                            id="question{{ i + 1 }}-option1">
                        <label class="form-check-label" for="question{{ i + 1 }}-option1">
                            Me gusta mucho
                        </label>
                    </div>
                    <div class="form-check mr-4">
                        <input class="form-check-input" type="radio" formControlName="question{{ i + 1 }}"
                            [value]="{ question: question.description, option: '0.67', program: question.program }"
                            id="question{{ i + 1 }}-option2">
                        <label class="form-check-label" for="question{{ i + 1 }}-option2">
                            Me gusta
                        </label>
                    </div>
                    <div class="form-check mr-4">
                        <input class="form-check-input" type="radio" formControlName="question{{ i + 1 }}"
                            [value]="{ question: question.description, option: '1.25', program: question.program }"
                            id="question{{ i + 1 }}-option3">
                        <label class="form-check-label" for="question{{ i + 1 }}-option3">
                            Me gusta poco
                        </label>
                    </div>
                    <div class="form-check mr-4">
                        <input class="form-check-input" type="radio" formControlName="question{{ i + 1 }}"
                            [value]="{ question: question.description, option: '2.5', program: question.program }"
                            id="question{{ i + 1 }}-option4">
                        <label class="form-check-label" for="question{{ i + 1 }}-option4">
                            No me gusta
                        </label>
                    </div>

                </div>
            </div>
            <!-- <div class="d-flex justify-content-center">
                <pagination-controls (pageChange)="p = $event"
                    previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div> -->
        </form>
    </div>
    <div  class="d-flex justify-content-end p-3 pr-5">
        <!-- <a routerLink="../charts"> -->
        <button [disabled]="surveyForm.invalid" (click)="registerSurvey()" type="button"
        class="btn btn-primary mx-auto mr-lg-5" id="submitButton">Realizar encuesta</button>
    </div>
</div>