<div class="container px-4 py-5 bg-white">
    <h2 class="pb-2 border-bottom fw-semibold">Administrador!</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 justify-content-center">
        <!-- <div class="d-flex flex-column align-items-start gap-2 ">
            ppp
        </div> -->
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <!-- <div class="d-flex flex-column gap-2"> -->
            <a routerLink="../student-list" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(196,227,232)">
                    <div class="card-header fw-semibold">Consulta</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Listado de estudiantes que han responddo la encuesta.</p>
                    </div>
                </div>
            </a>
            <a routerLink="../student-results" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(196,227,232)">
                    <div class="card-header fw-semibold">Consulta</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Buscar los resultados de un estudiante por cédula.</p>
                    </div>
                </div>
            </a>
            <a routerLink="../edit-career" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(253, 184, 184)">
                    <div class="card-header fw-semibold">Actualización Ponderado</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Agregar y editar valores de los requisitos de un programa.</p>
                    </div>
                </div>
            </a>
            <a routerLink="../edit-test" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(253, 184, 184)">
                    <div class="card-header fw-semibold">Actualización Cuestionario</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Agregar y editar preguntas de la prueba de orientación profesional.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>