<div class="container rounded p-4 bg-usco-ocre mb-4">
    <h2 class="pb-2 border-bottom border-secondary fw-semibold">Administrador!</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 justify-content-center">
        <!-- <div class="d-flex flex-column align-items-start gap-2 ">
            ppp
        </div> -->
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <!-- <div class="d-flex flex-column gap-2"> -->
            <a routerLink="../student-list" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(219, 219, 219)">
                    <div class="card-header fw-semibold">Consulta de Listado de Estudiantes</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Listado de estudiantes que han responddo la encuesta.</p>
                    </div>
                </div>
            </a>
            <a routerLink="../student-results" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3" style="max-width: 18rem;
                background-color: rgb(219, 219, 219)">
                    <div class="card-header fw-semibold">Consulta de Resultados Individuales</div>
                    <div class="card-body">
                        <p class="card-text">Buscar los resultados de un estudiante por cédula.</p>
                    </div>
                </div>
            </a>
            <a routerLink="../edit-career" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3 bg-usco-red2" style="max-width: 18rem">
                    <div class="card-header fw-semibold">Actualización de Puntaje Ponderado</div>
                    <div class="card-body">
                        <p class="card-text text-white">Agregar y editar valores de los requisitos de un programa.</p>
                    </div>
                </div>
            </a>
            <!-- <a routerLink="../edit-test" class="text-decoration-none">
                <div class="card shd-card text-dark mb-3 bg-usco-red2" style="max-width: 18rem">
                    <div class="card-header fw-semibold">Actualización de Cuestionario</div>
                    <div class="card-body">
                        <p class="card-text text-white">Agregar preguntas a la prueba de orientación profesional.</p>
                    </div>
                </div>
            </a> -->
            <a routerLink="../global-chart" class="text-decoration-none ">
                <div class="card shd-card text-dark mb-3 bg-usco-red2" style="max-width: 18rem">
                    <div class="card-header fw-semibold">Gráfico Ponderado Global</div>
                    <div class="card-body">
                        <p class="card-text text-white">Vizualizar los datos de forma general.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>